<%= form_for(@line_item) do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purchased_on %><br>
    <%= f.date_select :purchased_on %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%#= f.text_field :user %>
    <%= collection_select(:line_item, :user_id, User.all.order(:name), :id, :name, :prompt => true) %>

  </div>
  <div class="field">
    <%= f.label :vendor %><br>
    <%= collection_select(:line_item, :vendor_id, Vendor.all.order(:name), :id, :name, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :activity %><br>
    <%= collection_select(:line_item, :activity_id, Activity.all.order(:name), :id, :name, :prompt => true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
